package ${packageName}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${packageName}.domain.${ClassName};
#if($table.sub)
import ${packageName}.domain.${subClassName};
#end

#if($table.tree)
import java.util.List;
#end

/**
 * ${functionName} 数据操作接口
 * 
 * @author ${author}
 * @since  ${datetime}
 */
public interface ${ClassName}Mapper extends BaseMapper<${ClassName}> {
#if($table.crud || $table.sub)
    /**
     * 查询${functionName}分页数据
     *
     * @param pageDto 分页参数
     * @param ${className} ${functionName}
     * @return ${functionName}分页数据
     */
    IPage<${ClassName}> selectDataPage(Page<${ClassName}> pageDto, ${ClassName} ${className});
#elseif($table.tree)
    /**
     * 查询${functionName}列表
     *
     * @param ${className} ${functionName}
     * @return ${functionName}集合
     */
    List<${ClassName}> select${ClassName}List(${ClassName} ${className});
#end
}
