package ${packageName}.service;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.IService;
import ${packageName}.domain.${ClassName};

#if($table.tree)
import java.util.List;
#end

/**
 * ${functionName} 业务接口
 * 
 * @author ${author}
 * @since  ${datetime}
 */
public interface I${ClassName}Service extends IService<${ClassName}> {
#if($table.crud || $table.sub)
    /**
     * 查询${functionName}分页列表
     *
     * @param pageDto 分页参数
     * @param ${className} ${functionName}
     * @return ${functionName}集合
     */
    IPage<${ClassName}> queryPage(Page<${ClassName}> pageDto, ${ClassName} ${className});
#elseif($table.tree)
    /**
     * 查询${functionName}列表
     *
     * @param ${className} ${functionName}
     * @return ${functionName}集合
     */
    List<${ClassName}> queryList(${ClassName} ${className});
#end
}
